* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, minmax(0, 1fr));
    height: 100vh;
    gap: 20px;
}